body{
	background-color: #33fff9;
	text-align: center;
}
header{
	background-color: #ffbb33;
}
nav{
	background-color: #ff3333;
}
.sec1{
	background-color: #33ff4f;
}
.sec2{
	background-color: #ff33da;
}
footer{
	background-color: #bdb7bc;
}